<h1>Games</h1>

<p><%= link_to 'Play a New Game', new_game_url, class: "btn btn-success btn-small" %></p>
<h5>Your record is 0-<%=@lost%>-<%=@tie%></h5></br>

  <% @games.each do |game| %>
  <div class = "gameonfeed">
   <span>Game: </span><span><%= game.id %></span>
   <% if game.gamestatus.blank? %>
    <p>Not finished yet</p>
    <%else%>
    <%= game.gamestatus %>
   <%end%>

      <%= link_to 'Show', game_url(game) %> |
      <%= link_to 'Delete', game_url(game), method: 'delete', data: { confirm: "Do you really want to delete this game?" } %>

  </div>
  <% end %>


