<h1>Game #<%= @game.id %></h1>


<div class="game">
<h5>Place an x where you'd like to move and hit submit</h5>

  <%= form_tag game_url(@game), class: "form-inline inputbox", method: 'patch' do %>
    <div class = "spotonboard pull-left">
      <% if @game.s1.present? || @game.gamestatus != nil %>
        <%= @game.s1%>
        <%else%>
        <%= text_field_tag :s1  %>
      <%end%>
    </div>
    <div class = "spotonboard pull-left">
      <% if @game.s2.present? || @game.gamestatus != nil %>
        <%= @game.s2%>
        <%else%>
        <%= text_field_tag :s2  %>
      <%end%>
    </div>
    <div class = "spotonboard pull-right">
      <% if @game.s3.present? || @game.gamestatus != nil %>
        <%= @game.s3%>
        <%else%>
        <%= text_field_tag :s3  %>
      <%end%>
    </div>

    <div class = "spotonboard pull-left">
      <% if @game.s4.present? || @game.gamestatus != nil %>
        <%= @game.s4 %>
        <%else%>
        <%= text_field_tag :s4  %>
      <%end%>
    </div>
    <div class = "spotonboard pull-left">
      <% if @game.s5.present? || @game.gamestatus != nil %>
        <%= @game.s5%>
        <%else%>
        <%= text_field_tag :s5  %>
      <%end%>
    </div>
    <div class = "spotonboard pull-right">
      <% if @game.s6.present? || @game.gamestatus != nil %>
        <%= @game.s6%>
        <%else%>
        <%= text_field_tag :s6  %>
      <%end%>
    </div>

    <div class = "spotonboard pull-left">
      <% if @game.s7.present? || @game.gamestatus != nil %>
        <%= @game.s7%>
        <%else%>
        <%= text_field_tag :s7  %>
      <%end%>
    </div>
    <div class = "spotonboard pull-left">
      <% if @game.s8.present? || @game.gamestatus != nil %>
        <%= @game.s8%>
        <%else%>
        <%= text_field_tag :s8  %>
      <%end%>
    </div>
    <div class = "spotonboard pull-right">
      <% if @game.s9.present? || @game.gamestatus != nil %>
        <%= @game.s9%>
        <%else%>
        <%= text_field_tag :s9  %>
      <%end%>
    </div>



  </br>
</br>
    <%= submit_tag "Submit Move", class:"btn btn-success" %>
  <% end %>


</div>
  <%= link_to 'Restart', reset_url(@game), class:"btn btn-danger", method: 'patch' %>
  <%= link_to 'Home', root_url, class:"btn btn-primary"%>
</br>

<h1><%= @game.gamestatus %></h1>

